
<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: current_user %>

    <h2>New book</h2>
    <%= render 'books/form', book: @book %>
  </div>


  <div class='col-xs-9'>
		<h1>Search results by <%= @model %></h1>
		<table class='table'>
  		<tbody>
			  <% if @model == 'book' %>
			  	<%= render 'books/index', books: @datas %>
			  <% else %>
			  	<%= render 'users/index', users: @datas %>
			  <% end %>
			</tbody>
		</table>
