<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: @book.user %>
    <h2>New book</h2>
    <%= render '/books/form', book: Book.new %>
  </div>


  <div class='col-xs-9'>
		<h2>Book detail</h2>
		<table class='table'>
		  <tr>
        <td><%= link_to(@book.user) do %>
          <%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %><br>
          <%= @book.user.name %>
          <% end %>
        </td>
        <td><%= link_to @book.title, @book %></td>
        <td><%= @book.body %></td>
        <!-- いいね機能 -->
        <td id='favorite-<%= @book.id%>'>
          <%= render 'favorites/favorite', book: @book%>
        </td>
        <td>コメント数：<%= @book.book_comments.count %></td>

        <% if @book.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
          <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_book_#{@book.id}"%></td>
        <% end %>
      </tr>
    </table>
    <h3>Book comment</h3>
      <%= render 'books/book_comment' , book_comments: @book_comments %>
    <div id="comment-form">
      <%= form_with model: [@book, @book_comment], remote: true do |f| %>
        <%= f.text_area :comment, size: "90x5" %>
        <%= f.submit '送信' %>
      <% end %>
    </div>

  </div>
</div>